@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800;900&display=swap');

body {
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}
.navbar {
    box-shadow: 1px 2px 3px #ebebeb;
}
.home{
    background-image: url(../images/slide-bg-1.jpg);
    background-size: cover;
    height: calc(100vh - 87px);
    padding: 1px;
}
.home-item {
    width: 50%;
    margin-right: auto;
    margin-top: 15%;
}
.home-item h1 {
    font-size: 45px;
}
.home-item p {
    font-size: 20px;
}